## 뉴스 기사 CSV 병합하기
* 용량이 커 Jupyer notebook에서 작업하였습니다.

In [ ]:
# 현재 작업 디렉토리 확인
import os
print(os.getcwd())

# 현재 작업 디렉토리에 파일이 있는지 확인
os.listdir()

/Users/sopung/Desktop/hankyung_crawler

['hankyung_news',
 'csv병합.ipynb',
 '.DS_Store',
 'mk.csv',
 'han.csv',
 'processed_call_rate.csv',
 '.ipynb_checkpoints',
 'edaily.csv',
 'hankyung_crawler']

## 뉴스 기사 데이터, 콜금리 변동 데이터 로드

In [ ]:
import pandas as pd

# CSV 파일 불러오기
df_han = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/han.csv') # 한경 뉴스
df_edaily = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/edaily.csv') # 이데일리 뉴스
df_mk = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/mk.csv') # 매일 경제 뉴스
df_call_rate = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/processed_call_rate.csv') # 콜 금리 변동 데이터
df_mpc_minute = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/mpc_minute.csv') # 의사록 데이터
df_bond = pd.read_csv('/Users/sopung/Desktop/hankyung_crawler/bond.csv') # 채권 데이터

In [ ]:
# 각 데이터프레임에 'category' 컬럼 추가
df_han['category'] = 'HAN'  # 한국경제 (HAN)
df_edaily['category'] = 'ED'  # 이데일리 (ED)
df_mk['category'] = 'MK'  # 매일경제 (MK)
df_call_rate['category'] = 'CR'  # 콜 금리 변동 (CR)
df_mpc_minute['category'] = 'MP'  # 의사록 (MP)
df_bond['category'] = 'BD'  # 채권 (BD)

# 결과를 확인하고 싶다면 각 데이터프레임의 상위 5개 행을 출력
print(df_han.head())
print(df_edaily.head())
print(df_mk.head())
print(df_call_rate.head())
print(df_mpc_minute.head())
print(df_bond.head())

         date                                             url  \
0  2005.03.10  https://www.hankyung.com/article/2005030994811
1  2005.03.10  https://www.hankyung.com/article/2005030998281
2  2005.03.10  https://www.hankyung.com/article/2005030997551
3  2005.03.10  https://www.hankyung.com/article/2005030981866
4  2005.03.10  https://www.hankyung.com/article/2005030994021

                                             content category
0  산업단지 안에 5백평 미만의 작은 공장을 지을 수 있게 된다.\n\n최홍건 중소기업...      HAN
1  채권시장은 9일 만기별로 금리 등락이 엇갈렸다.\n\n지표금리인 3년짜리 국고채 수...      HAN
2  < 윤재현 세종증권 리서치센터장 >\n\n원자재가격 상승에 대한 우려의 목소리가 커...      HAN
3  피데스증권은 원자재 시장에서 투기 수요가 이탈하는 과정에서 증시와 환율시장에 미치는...      HAN
4  '헤지펀드와 투자은행의 죽음의 키스?' \n\n최근 대형 투자은행들의 헤지펀드에 대...      HAN
       date                                            content category
0  20050215  [edaily 최현석기자] 재정경제부는 14일 국채발행 규모를 제한해 저금리 기조 ...       ED
1  20050310  [edaily 최현석기자] 환율이 사흘연속 하락하며 세자리에 바짝 다가섰다.\r\n...       ED
2  20050310  [edaily 권소현기자] 종합주가지수가 1000포인트를 들락날락 하면서 네자리수를...       ED
3  20050310  [edaily 김수연기자] 인터넷금융 평가회사인 스톡피아는 2005년 인터넷뱅킹 서...       ED
4  20050310  [edaily 최현석기자] 환율이 달러약세 영향으로 사흘째 하락세를 이어가고 있다....       ED
         date                                            content category
0  2005-02-15  내전으로 폐허가 된  레바논의  재건사업을 진두지휘했던 라피크 하리리(60) 전(前...       MK
1  2005-02-15  ========================================    주가...       MK
2  2005-02-15  다음달 5.5대 1 감자를 앞두고 있는 LG카드가 급등했다.     14일 유가증권...       MK
3  2005-02-15  "지수 1000선 넘을 수 있을까."     종합주가지수가 5년래 최고 수준으로 치...       MK
4  2005-02-15  ◆달아오른 증시 960 훌쩍◆     14일 주가가 급등한 배경은 무엇보다 수급 상...       MK
       date  call_rate  rate_change category
0  20050215       3.26            0       CR
1  20050310       3.26            0       CR
2  20050407       3.23            0       CR
3  20050512       3.30            0       CR
4  20050609       3.28            0       CR
   Unnamed: 0      date                                            content  \
0           0  20050609  회의경과\n〈의안 제21호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...
1           1  20050623  회의경과\n〈의안 제23호 ― 2005년 3/4분기 한국은행 총액한도대출의 한도 결...
2           2  20050707  회의경과\n〈의안 제25호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...
3           3  20050811  회의경과\n〈의안 제31호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...
4           4  20050908  회의경과\n〈의안 제32호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...

  category
0       MP
1       MP
2       MP
3       MP
4       MP
         date                                            content category
0  2008-06-12    1  Daewoo Bond Brief  채권 시황  z  전일 3년 만기 금리는...       BD
1  2008-07-10    1  Daewoo Bond Brief  채권 시황  z 전일 3년 만기 금리는 ...       BD
2  2008-07-10    1  Daewoo Bond Brief  채권 시황  z 전일 3년 만기 금리는 ...       BD
3  2008-08-07             인상 시사!  - 이번 금통위 결과는, 금리인상 시사로 보아도 ...       BD
4  2008-06-12    1  Daewoo Bond Brief  채권 시황  z  전일 3년 만기 금리는...       BD

In [ ]:
# df_han에는 url이 있기때문에 drop해야합니다
df_han

,date,url,content,category
0,2005.03.10,https://www.hankyung.com/article/2005030994811,산업단지 안에 5백평 미만의 작은 공장을 지을 수 있게 된다.\n\n최홍건 중소기업...,HAN
1,2005.03.10,https://www.hankyung.com/article/2005030998281,채권시장은 9일 만기별로 금리 등락이 엇갈렸다.\n\n지표금리인 3년짜리 국고채 수...,HAN
2,2005.03.10,https://www.hankyung.com/article/2005030997551,< 윤재현 세종증권 리서치센터장 >\n\n원자재가격 상승에 대한 우려의 목소리가 커...,HAN
3,2005.03.10,https://www.hankyung.com/article/2005030981866,피데스증권은 원자재 시장에서 투기 수요가 이탈하는 과정에서 증시와 환율시장에 미치는...,HAN
4,2005.03.10,https://www.hankyung.com/article/2005030994021,'헤지펀드와 투자은행의 죽음의 키스?' \n\n최근 대형 투자은행들의 헤지펀드에 대...,HAN
...,...,...,...,...
104433,2024.07.11,https://www.hankyung.com/article/2024052400166,사진=AFP\n \n ...,HAN
104434,2024.07.11,https://www.hankyung.com/article/202405240081i,AI(인공지능) 반도체 대표주자 엔비디아 주가가 23일(현지시간) 9.32% 올랐다...,HAN
104435,2024.07.11,https://www.hankyung.com/article/202405249989i,영상 모듈 닫기\n \n ...,HAN
104436,2024.07.11,https://www.hankyung.com/article/2024052401596,젠슨 황 엔비디아 최고경영자(CEO)가 지난달 18일(현지시간) 미국 캘리포니아주 ...,HAN
104437,2024.07.11,https://www.hankyung.com/article/2024052499537,"◆ 고금리 장기화 우려에…다우지수, 1년 2개월 만에 최대 낙폭인공지능(AI) 칩 ...",HAN

In [ ]:
df_edaily

            date                                            content category
0       20050215  [edaily 최현석기자] 재정경제부는 14일 국채발행 규모를 제한해 저금리 기조 ...       ED
1       20050310  [edaily 최현석기자] 환율이 사흘연속 하락하며 세자리에 바짝 다가섰다.\r\n...       ED
2       20050310  [edaily 권소현기자] 종합주가지수가 1000포인트를 들락날락 하면서 네자리수를...       ED
3       20050310  [edaily 김수연기자] 인터넷금융 평가회사인 스톡피아는 2005년 인터넷뱅킹 서...       ED
4       20050310  [edaily 최현석기자] 환율이 달러약세 영향으로 사흘째 하락세를 이어가고 있다....       ED
...          ...                                                ...      ...
177091  20230223  [이데일리 이윤화 기자] 서울시가 올해부터 아파트 입주예정물량과 사업리스트를 상·하...       ED
177092  20221124  [이데일리 이정현 기자] 은 이달 11일까지 개인투자자가 온라인으로 매수한 채권 규...       ED
177093  20221124  [이데일리 이연호 기자] 금융당국이 채권시장안정펀드(채안펀드)를 통해 3주간 1조원...       ED
177094  20230223  [이데일리 이은정 기자] 뉴욕 증시가 ‘대통령의 날’로 휴장한 가운데 유럽 증시는 ...       ED
177095  20221124  [이데일리 이윤화 기자] 지난달 외국인들이 국내 주식, 채권시장에서 총 22억900...       ED

[177096 rows x 3 columns]

In [ ]:
df_mk

              date                                            content category
0       2005-02-15  내전으로 폐허가 된  레바논의  재건사업을 진두지휘했던 라피크 하리리(60) 전(前...       MK
1       2005-02-15  ========================================    주가...       MK
2       2005-02-15  다음달 5.5대 1 감자를 앞두고 있는 LG카드가 급등했다.     14일 유가증권...       MK
3       2005-02-15  "지수 1000선 넘을 수 있을까."     종합주가지수가 5년래 최고 수준으로 치...       MK
4       2005-02-15  ◆달아오른 증시 960 훌쩍◆     14일 주가가 급등한 배경은 무엇보다 수급 상...       MK
...            ...                                                ...      ...
113579  2024-07-11  사진 확대      중산층이 겪는 경제적 어려움을 짚은 '위기의 중산층' 기획기사를...       MK
113580  2024-07-11  사진 확대    [사진 출처 = 연합뉴스]  서울 아파트 전세난이 월세난으로 확대되...       MK
113581  2024-07-11  사진 확대    제롬 파월 미국 연방준비제도(Fed·연준) 의장   美 4월 PCE...       MK
113582  2024-07-11  사진 확대    [사진 출처 = 연합뉴스]  올해 1분기(1~3월) 중산층 가구 5...       MK
113583  2024-07-11  사진 확대    정부가 26조원 규모의 반도체 산업 진흥 방안을 발표한 가운데 삼성...       MK

[113584 rows x 3 columns]

In [ ]:
# Unnamed: 0를 삭제해야합니다.
df_mpc_minute

,Unnamed: 0,date,content,category
0,0,20050609,회의경과\n〈의안 제21호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...,MP
1,1,20050623,회의경과\n〈의안 제23호 ― 2005년 3/4분기 한국은행 총액한도대출의 한도 결...,MP
2,2,20050707,회의경과\n〈의안 제25호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...,MP
3,3,20050811,회의경과\n〈의안 제31호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...,MP
4,4,20050908,회의경과\n〈의안 제32호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...,MP
...,...,...,...,...
385,385,20240523,회의경과\n가. 의결안건\n〈의안제16호― 통화정책방향〉\n( 1 ) 전일개최된동향...,MP
386,386,20240613,회의경과\n가. 의결안건\n<의안제17호- ｢한국은행의금융기관대출규정｣개정(안)>\...,MP
387,387,20240626,회의경과\n가. 의결안건\n<의안제19호- ｢금융안정보고서(2024년6월)｣(안)>...,MP
388,388,20240711,회의경과\n가. 의결안건\n〈의안제21호― 통화정책방향〉\n( 1 ) 전일개최된동향...,MP
389,389,20240718,회의경과\n가. 의결안건\n<의안제24호– 한국은행금융중개지원대출한도결정>\n( 1...,MP

In [ ]:
df_call_rate

         date  call_rate  rate_change category
0    20050215      3.260            0       CR
1    20050310      3.260            0       CR
2    20050407      3.230            0       CR
3    20050512      3.300            0       CR
4    20050609      3.280            0       CR
..        ...        ...          ...      ...
201  20240111      3.393            2       CR
202  20240222      3.659            1       CR
203  20240412      3.500            2       CR
204  20240523      3.556            0       CR
205  20240711      3.528            0       CR

[206 rows x 4 columns]

In [ ]:
df_bond

            date                                            content category
0     2008-06-12    1  Daewoo Bond Brief  채권 시황  z  전일 3년 만기 금리는...       BD
1     2008-07-10    1  Daewoo Bond Brief  채권 시황  z 전일 3년 만기 금리는 ...       BD
2     2008-07-10    1  Daewoo Bond Brief  채권 시황  z 전일 3년 만기 금리는 ...       BD
3     2008-08-07             인상 시사!  - 이번 금통위 결과는, 금리인상 시사로 보아도 ...       BD
4     2008-06-12    1  Daewoo Bond Brief  채권 시황  z  전일 3년 만기 금리는...       BD
...          ...                                                ...      ...
7213  2024-07-11  30y월 91d수 2y 0 0 0 0 KR Market KR Bond(,bp) YT...       BD
7214  2024-07-11  30y 0 0 0 0 0 0 0 0 KR Market KR Bond(,bp) YTM...       BD
7215  2024-07-11    표1. 주요 채권 금리 및 스프레드 변동  구분  금리  신용스프레드  금리 변...       BD
7216  2024-07-11                        Fixed Income Strategist ...       BD
7217  2024-07-11  2024년 6월 3일  Hanwha Fixed Income        한화 FI ...       BD

[7218 rows x 3 columns]

In [ ]:
import pandas as pd

# 'url' 열 제거
df_han = df_han.drop(columns=['url'])

# 결과 확인
print(df_han.head())

         date                                            content category
0  2005.03.10  산업단지 안에 5백평 미만의 작은 공장을 지을 수 있게 된다.\n\n최홍건 중소기업...      HAN
1  2005.03.10  채권시장은 9일 만기별로 금리 등락이 엇갈렸다.\n\n지표금리인 3년짜리 국고채 수...      HAN
2  2005.03.10  < 윤재현 세종증권 리서치센터장 >\n\n원자재가격 상승에 대한 우려의 목소리가 커...      HAN
3  2005.03.10  피데스증권은 원자재 시장에서 투기 수요가 이탈하는 과정에서 증시와 환율시장에 미치는...      HAN
4  2005.03.10  '헤지펀드와 투자은행의 죽음의 키스?' \n\n최근 대형 투자은행들의 헤지펀드에 대...      HAN

In [ ]:
# 'Unnamed: 0' 열 제거
df_mpc_minute = df_mpc_minute.drop(columns=['Unnamed: 0'])

# 결과 확인
print(df_mpc_minute.head())

       date                                            content category
0  20050609  회의경과\n〈의안 제21호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...       MP
1  20050623  회의경과\n〈의안 제23호 ― 2005년 3/4분기 한국은행 총액한도대출의 한도 결...       MP
2  20050707  회의경과\n〈의안 제25호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...       MP
3  20050811  회의경과\n〈의안 제31호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...       MP
4  20050908  회의경과\n〈의안 제32호 ― 통화정책방향〉\n(１) 전일 개최된 동향보고회의에서 ...       MP

## 데이터 프레임 형식 맞추기 및 병합

In [ ]:
import pandas as pd

def process_date(df: pd.DataFrame, date_column: str, current_format: str) -> pd.DataFrame:
    """
    날짜 형식을 표준 형식(YYYYMMDD)으로 변환하는 함수

    매개변수:
        df (pd.DataFrame): 날짜 형식을 변환할 데이터프레임
        date_column (str): 변환할 날짜 열의 이름
        current_format (str): 현재 날짜 형식

    반환값:
        pd.DataFrame: 날짜 형식이 변환된 데이터프레임
    """
    # 날짜 열을 문자열로 변환하고 ".pdf" 확장자 제거
    df[date_column] = df[date_column].astype(str).str.replace('.pdf', '', regex=False)

    # 이미 YYYYMMDD 형식인지 확인 후 변환
    if not df[date_column].str.match(r'^\d{8}$').all():
        df[date_column] = pd.to_datetime(df[date_column], format=current_format).dt.strftime('%Y%m%d')

    return df

def combine_dataframes(dfs: list) -> pd.DataFrame:
    """
    여러 데이터프레임을 하나로 합치는 함수

    매개변수:
        dfs (list): 합칠 데이터프레임들의 리스트

    반환값:
        pd.DataFrame: 합쳐진 데이터프레임
    """
    return pd.concat(dfs, ignore_index=True)

def main():
    # 각 데이터프레임에 대해 날짜 형식 처리 수행
    df_han = process_date(df_han, 'date', '%Y.%m.%d')
    df_edaily = process_date(df_edaily, 'date', '%Y-%m-%d')
    df_mk = process_date(df_mk, 'date', '%Y-%m-%d')
    df_bond = process_date(df_bond, 'date', '%Y-%m-%d')
    df_call_rate = process_date(df_call_rate, 'date', '%Y.%m.%d')

    # 데이터프레임 합치기, 위원회 결정보고서 제외
    df_combined = combine_dataframes([df_han, df_edaily, df_mk, df_bond, df_call_rate])

    # 결과 확인
    print(df_combined.head())

if __name__ == "__main__":
    main()

       date                                            content category  \
0  20050310  산업단지 안에 5백평 미만의 작은 공장을 지을 수 있게 된다.\n\n최홍건 중소기업...      HAN
1  20050310  채권시장은 9일 만기별로 금리 등락이 엇갈렸다.\n\n지표금리인 3년짜리 국고채 수...      HAN
2  20050310  < 윤재현 세종증권 리서치센터장 >\n\n원자재가격 상승에 대한 우려의 목소리가 커...      HAN
3  20050310  피데스증권은 원자재 시장에서 투기 수요가 이탈하는 과정에서 증시와 환율시장에 미치는...      HAN
4  20050310  '헤지펀드와 투자은행의 죽음의 키스?' \n\n최근 대형 투자은행들의 헤지펀드에 대...      HAN

   call_rate  rate_change
0        NaN          NaN
1        NaN          NaN
2        NaN          NaN
3        NaN          NaN
4        NaN          NaN

In [ ]:
# df_combined의 총 길이 확인
length = len(df_combined)
print(f"df_combined의 총 길이: {length}")

df_combined의 총 길이: 402542

In [ ]:
# 날짜 형식이 YYYYMMDD가 아닌 행을 골라내기
df_combined['date'] = df_combined['date'].astype(str)  # Ensure date column is string
incorrect_date_format = ~df_combined['date'].str.match(r'^\d{8}$')

# 날짜 형식이 잘못된 데이터프레임
df_incorrect_dates = df_combined[incorrect_date_format]

# 결과 확인
print(f"형식이 잘못된 날짜를 가진 행의 수: {len(df_incorrect_dates)}")
print(df_incorrect_dates.head())

형식이 잘못된 날짜를 가진 행의 수: 0
Empty DataFrame
Columns: [date, content, category, call_rate, rate_change]
Index: []

In [ ]:
# 중복된 date 값 처리
df_call_rate = df_call_rate.drop_duplicates(subset='date', keep='first')


# df_combined의 date 열을 문자열로 변환
df_combined['date'] = df_combined['date'].astype(str)

# df_call_rate의 date 열을 문자열로 변환
df_call_rate['date'] = df_call_rate['date'].astype(str)

# 데이터프레임 합치기
df_combined = pd.concat([df_han, df_edaily, df_mk, df_bond], ignore_index=True)

# 날짜를 기준으로 정렬
df_combined.sort_values(by='date', inplace=True)

# processed_call_rate의 rate_change 값을 df_combined에 추가
df_combined = df_combined.merge(df_call_rate[['date', 'rate_change']], on='date', how='left')

# 결과 확인
print(f"df_combined의 총 길이: {len(df_combined)}")
print(df_combined.head())

df_combined의 총 길이: 402336
       date                                            content category  \
0  20050215  [edaily 이승우기자] 11일 국고채의 금리 급등의 여파가 회사채 시장에도 강하...       ED
1  20050215  채권시장의 투자심리가 취약해진 가운데 잇단 물 량부담으로 장.단기물 모두 금리가 급...       MK
2  20050215  현기증이 날 정도로 빠르게 변하는 세상. 그야말 로 질주의 시대다. 아슬아슬함과 위...       MK
3  20050215  이헌재 부총리 겸 재정경제부 장관은  21 일 올상반기 종합투자계획의 사업자를 선정...       MK
4  20050215  종합투자계획 규모 2∼3월 윤곽..올해 가능한 것부터 시행 국민연금 참여 강요안해 ...       MK

   rate_change
0            0
1            0
2            0
3            0
4            0

In [ ]:
# 2005년 06월 09일 이후 데이터만 사용합니다.

# 'date' 열을 다시 날짜 형식으로 변환 (YYYYMMDD -> datetime)
df_combined['date'] = pd.to_datetime(df_combined['date'], format='%Y%m%d')

# 원하는 날짜 이후의 데이터만 필터링
df_filtered = df_combined[df_combined['date'] >= '2005-06-09']

# 날짜 형식을 다시 YYYY-MM-DD -> YYYYMMDD로 변환
df_combined = process_date(df_filtered, 'date', '%Y-%m-%d')

# 인덱스 초기화
df_combined = df_combined.reset_index(drop=True)

# 결과 확인
print(df_combined.head())

/var/folders/jm/t447cbrj0rv_y73nfrlz2_fr0000gn/T/ipykernel_66914/2597476212.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = df[date_column].astype(str)
/var/folders/jm/t447cbrj0rv_y73nfrlz2_fr0000gn/T/ipykernel_66914/2597476212.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = df[date_column].str.replace('.pdf', '', regex=False)

       date                                            content category  \
0  20050609  [edaily 김현동기자] 미국 뉴욕 맨해튼의 아파트 매매가격이 사상 최고가 행진을...       ED
1  20050609  [edaily 하정민기자] 국제통화기금(IMF)이 유럽통화동맹(EMU) 체제 유지에...       ED
2  20050609  [뉴욕=edaily 정명수특파원] 다우 지수가 어렵게 강보합선을 지켰다. 나스닥은 ...       ED
3  20050609  [뉴욕=edaily 정명수특파원] 앨런 그린스펀 의장이 지난 2월 "장기 금리 하락...       ED
4  20050609  [조선일보 제공] 세계 증시의 동조화(同調化)가 갈수록 뚜렷해지고 있다. 주요국들의...       ED

   rate_change
0            0
1            0
2            0
3            0
4            0

/var/folders/jm/t447cbrj0rv_y73nfrlz2_fr0000gn/T/ipykernel_66914/2597476212.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column], format=current_format).dt.strftime('%Y%m%d')

In [ ]:
# df_combined의 총 길이 확인
length = len(df_combined)
print(f"df_combined의 총 길이: {length}")

df_combined의 총 길이: 395768

In [ ]:
df_combined

,date,content,category,rate_change
0,20050609,[edaily 김현동기자] 미국 뉴욕 맨해튼의 아파트 매매가격이 사상 최고가 행진을...,ED,0
1,20050609,[edaily 하정민기자] 국제통화기금(IMF)이 유럽통화동맹(EMU) 체제 유지에...,ED,0
2,20050609,[뉴욕=edaily 정명수특파원] 다우 지수가 어렵게 강보합선을 지켰다. 나스닥은 ...,ED,0
3,20050609,"[뉴욕=edaily 정명수특파원] 앨런 그린스펀 의장이 지난 2월 ""장기 금리 하락...",ED,0
4,20050609,[조선일보 제공] 세계 증시의 동조화(同調化)가 갈수록 뚜렷해지고 있다. 주요국들의...,ED,0
...,...,...,...,...
395763,20240711,[이데일리 유준하 기자] 한국은행은 27일 통화안정증권(이하 통안증권) 91일물 경...,ED,0
395764,20240711,[이데일리 정두리 기자] KB국민은행은 서울 코엑스 D홀에서 ‘2024 제1차 KB...,ED,0
395765,20240711,[이데일리 유준하 기자] NH투자증권은 27일 과거 미국 연방준비제도(Fed·연준)...,ED,0
395766,20240711,[이데일리 이정윤 기자] 원·달러 환율이 1380원 부근까지 상승 출발했다. 소비자...,ED,0
395767,20240711,2024년 6월 3일 Hanwha Fixed Income 한화 FI ...,BD,0

In [ ]:
# 0 변동없음, 1 금리인상, 2금리인하
value_counts = df_combined['rate_change'].value_counts().sort_index()
print(value_counts)

rate_change
0    261602
1     84879
2     49287
Name: count, dtype: int64

In [ ]:
# content에 na가 895개
df_combined.isna().sum()

date             0
content        895
category         0
rate_change      0
dtype: int64

In [ ]:
# NaN 값이 포함된 행을 전체 제거
df_combined = df_combined.dropna()

# 인덱스 초기화
df_combined = df_combined.reset_index(drop=True)

# 결과 확인
print(df_combined.isna().sum())  # NaN 값이 모두 제거되었는지 확인
print(len(df_combined)) # 데이터 개수 확인
print(df_combined.head())  # 데이터프레임 확인

date           0
content        0
category       0
rate_change    0
dtype: int64
394873
       date                                            content category  \
0  20050609  [edaily 김현동기자] 미국 뉴욕 맨해튼의 아파트 매매가격이 사상 최고가 행진을...       ED
1  20050609  [edaily 하정민기자] 국제통화기금(IMF)이 유럽통화동맹(EMU) 체제 유지에...       ED
2  20050609  [뉴욕=edaily 정명수특파원] 다우 지수가 어렵게 강보합선을 지켰다. 나스닥은 ...       ED
3  20050609  [뉴욕=edaily 정명수특파원] 앨런 그린스펀 의장이 지난 2월 "장기 금리 하락...       ED
4  20050609  [조선일보 제공] 세계 증시의 동조화(同調化)가 갈수록 뚜렷해지고 있다. 주요국들의...       ED

   rate_change
0            0
1            0
2            0
3            0
4            0

In [ ]:
# 데이터프레임을 CSV 파일로 저장
df_combined.to_csv('combined.csv', index=False)