## MySQL connector 설치

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 53.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

## 삽입하고자 하는 데이터 확인 : 한경 뉴스

In [4]:
import pandas as pd

df = pd.read_csv('/content/han.csv')

In [5]:
df.head()

,date,url,content
0,2005.03.10,https://www.hankyung.com/article/2005030994811,산업단지 안에 5백평 미만의 작은 공장을 지을 수 있게 된다.\n\n최홍건 중소기업...
1,2005.03.10,https://www.hankyung.com/article/2005030998281,채권시장은 9일 만기별로 금리 등락이 엇갈렸다.\n\n지표금리인 3년짜리 국고채 수...
2,2005.03.10,https://www.hankyung.com/article/2005030997551,< 윤재현 세종증권 리서치센터장 >\n\n원자재가격 상승에 대한 우려의 목소리가 커...
3,2005.03.10,https://www.hankyung.com/article/2005030981866,피데스증권은 원자재 시장에서 투기 수요가 이탈하는 과정에서 증시와 환율시장에 미치는...
4,2005.03.10,https://www.hankyung.com/article/2005030994021,'헤지펀드와 투자은행의 죽음의 키스?' \n\n최근 대형 투자은행들의 헤지펀드에 대...

## csv의 charset확인

In [16]:
!file -i /content/han.csv

/content/han.csv: text/csv; charset=utf-8

## DB에 여러가지 문자셋 호환 여부 확인

In [17]:
import pandas as pd
import mysql.connector

# 데이터베이스 연결
conn = mysql.connector.connect(
    host=' ', # 엔드 포인트
    port=3306,
    user=' ', # 유저명
    password=' ', # 비밀번호
    database='team2', # 접근하고자 하는 데이터베이스 명
    charset='utf8mb4'  # 문자 집합 설정
)
cursor = conn.cursor()

# 테스트 데이터 준비
test_data = [
    {'date': '2024-01-01', 'content': '테스트 기사: 다양한 문자와 기호 포함! ✔️🚀✨'},
    {'date': '2024-01-02', 'content': '기본 ASCII 문자: ABCDEFGHIJKLMNOPQRSTUVWXYZ'},
    {'date': '2024-01-03', 'content': '특수 문자: ~!@#$%^&*()_+[]{}|;:\'",.<>?'},
    {'date': '2024-01-04', 'content': '다국어 문자: 中文, 日本語, 한국어, Русский, العربية'}
]

# 테스트 데이터를 데이터베이스에 삽입
for data in test_data:
    cursor.execute(
        "INSERT INTO team2.han_news (date, content) VALUES (%s, %s)",
        (data['date'], data['content'])
    )

conn.commit()

# 데이터베이스에서 삽입된 데이터 확인
cursor.execute("SELECT date, content FROM team2.han_news")
rows = cursor.fetchall()

print("데이터베이스에 삽입된 데이터:")
for row in rows:
    print(row)

# 연결 종료
cursor.close()
conn.close()

데이터베이스에 삽입된 데이터:
(datetime.date(2024, 1, 1), '테스트 기사: 다양한 문자와 기호 포함! ✔️🚀✨')
(datetime.date(2024, 1, 2), '기본 ASCII 문자: ABCDEFGHIJKLMNOPQRSTUVWXYZ')
(datetime.date(2024, 1, 3), '특수 문자: ~!@#$%^&*()_+[]{}|;:\'",.<>?')
(datetime.date(2024, 1, 4), '다국어 문자: 中文, 日本語, 한국어, Русский, العربية')

## 데이터 삽입

In [4]:
import pandas as pd
import mysql.connector
# 104,000개 가량의 뉴스 데이터를 삽입하는데에 약 3시간이 소요되었습니다.

# CSV 파일 읽기 (필요한 열만 선택)
df = pd.read_csv('/content/han.csv', encoding='utf-8', usecols=['date', 'content'])

# 날짜 형식 변환
df['date'] = pd.to_datetime(df['date'], errors='coerce').dt.strftime('%Y-%m-%d')

# MySQL 데이터베이스 연결
conn = mysql.connector.connect(
    host=' ', # 엔드 포인트
    port=3306,
    user='', # 유저명
    password=' ', # 비밀번호
    database='team2',
    charset='utf8mb4'  # 문자 집합 설정
)
cursor = conn.cursor()

# 데이터 삽입
error_rows = []
for index, row in df.iterrows():
    try:
        cursor.execute(
            "INSERT INTO team2.han_news (date, content) VALUES (%s, %s)",
            (row['date'], row['content'])
        )
    except mysql.connector.Error as err:
        error_rows.append((index, str(err)))
        print(f"오류 발생 행 {index}: {row['content']}")
        print(f"오류 메시지: {err}")

# 커밋 (문제가 없는 행만 커밋됨)
conn.commit()

# 오류가 발생한 행 정보 출력
if error_rows:
    print("\n오류가 발생한 행 목록:")
    for idx, error in error_rows:
        print(f"행 {idx}: {error}")

# 데이터베이스에서 삽입된 데이터 확인
cursor.execute("SELECT date, content FROM team2.han_news ORDER BY date DESC LIMIT 10")
rows = cursor.fetchall()

print("\n최근 10개 데이터베이스 데이터:")
for row in rows:
    print(row)

# 연결 종료
cursor.close()
conn.close()

오류 발생 행 34420: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 74914: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 74923: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 78761: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 78868: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 78898: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 79657: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 79795: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 80421: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 80445: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 81176: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 81274: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 81672: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 82113: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 82193: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 82226: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 82242: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 83142: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 83745: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 84077: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 84617: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 85123: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 86237: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 86240: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 86334: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 86341: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 87362: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 87363: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 87364: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 87481: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 87821: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 87907: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 88638: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 88651: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 88654: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 88656: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 88864: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 88865: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 88867: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 89475: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 89709: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 89781: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 89783: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 89785: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 89882: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 90099: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 90659: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 90666: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 90722: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 91008: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 91323: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 91540: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 91541: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 91546: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 91560: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 92142: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 92489: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 92491: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 92492: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 92493: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 92524: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 92578: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 92954: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 93058: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 93271: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 93279: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 93280: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 93281: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 93282: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 93284: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 93617: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 94103: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 94108: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 94189: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 94881: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 94927: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 94973: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 95518: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 95521: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 95588: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 95634: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 96451: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 96456: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 96460: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 96476: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 96991: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 96995: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 97024: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 97048: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 97160: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 98154: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 98155: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 98217: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 98773: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 98775: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 98778: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 98836: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 98838: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 98842: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 99779: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 99781: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 99820: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 99825: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 99826: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 100005: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 100244: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 100332: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 100338: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 100753: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 100811: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 100952: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 101205: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 101782: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 101870: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 101976: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102013: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102014: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102017: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102018: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102020: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102023: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102066: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102095: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102424: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102430: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102437: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102720: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102722: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102726: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102744: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102745: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 102875: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 103045: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 103169: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 103493: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 103496: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 103503: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 103524: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 103841: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 104198: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'
오류 발생 행 104200: nan
오류 메시지: 1054 (42S22): Unknown column 'nan' in 'field list'

오류가 발생한 행 목록:
행 34420: 1054 (42S22): Unknown column 'nan' in 'field list'
행 74914: 1054 (42S22): Unknown column 'nan' in 'field list'
행 74923: 1054 (42S22): Unknown column 'nan' in 'field list'
행 78761: 1054 (42S22): Unknown column 'nan' in 'field list'
행 78868: 1054 (42S22): Unknown column 'nan' in 'field list'
행 78898: 1054 (42S22): Unknown column 'nan' in 'field list'
행 79657: 1054 (42S22): Unknown column 'nan' in 'field list'
행 79795: 1054 (42S22): Unknown column 'nan' in 'field list'
행 80421: 1054 (42S22): Unknown column 'nan' in 'field list'
행 80445: 1054 (42S22): Unknown column 'nan' in 'field list'
행 81176: 1054 (42S22): Unknown column 'nan' in 'field list'
행 81274: 1054 (42S22): Unknown column 'nan' in 'field list'
행 81672: 1054 (42S22): Unknown column 'nan' in 'field list'
행 82113: 1054 (42S22): Unknown column 'nan' in 'field list'
행 82193: 1054 (42S22): Unknown column 'nan' in 'field list'
행 82226: 1054 (42S22): Unknown column 'nan' in 'field list'
행 82242: 1054 (42S22): Unknown column 'nan' in 'field list'
행 83142: 1054 (42S22): Unknown column 'nan' in 'field list'
행 83745: 1054 (42S22): Unknown column 'nan' in 'field list'
행 84077: 1054 (42S22): Unknown column 'nan' in 'field list'
행 84617: 1054 (42S22): Unknown column 'nan' in 'field list'
행 85123: 1054 (42S22): Unknown column 'nan' in 'field list'
행 86237: 1054 (42S22): Unknown column 'nan' in 'field list'
행 86240: 1054 (42S22): Unknown column 'nan' in 'field list'
행 86334: 1054 (42S22): Unknown column 'nan' in 'field list'
행 86341: 1054 (42S22): Unknown column 'nan' in 'field list'
행 87362: 1054 (42S22): Unknown column 'nan' in 'field list'
행 87363: 1054 (42S22): Unknown column 'nan' in 'field list'
행 87364: 1054 (42S22): Unknown column 'nan' in 'field list'
행 87481: 1054 (42S22): Unknown column 'nan' in 'field list'
행 87821: 1054 (42S22): Unknown column 'nan' in 'field list'
행 87907: 1054 (42S22): Unknown column 'nan' in 'field list'
행 88638: 1054 (42S22): Unknown column 'nan' in 'field list'
행 88651: 1054 (42S22): Unknown column 'nan' in 'field list'
행 88654: 1054 (42S22): Unknown column 'nan' in 'field list'
행 88656: 1054 (42S22): Unknown column 'nan' in 'field list'
행 88864: 1054 (42S22): Unknown column 'nan' in 'field list'
행 88865: 1054 (42S22): Unknown column 'nan' in 'field list'
행 88867: 1054 (42S22): Unknown column 'nan' in 'field list'
행 89475: 1054 (42S22): Unknown column 'nan' in 'field list'
행 89709: 1054 (42S22): Unknown column 'nan' in 'field list'
행 89781: 1054 (42S22): Unknown column 'nan' in 'field list'
행 89783: 1054 (42S22): Unknown column 'nan' in 'field list'
행 89785: 1054 (42S22): Unknown column 'nan' in 'field list'
행 89882: 1054 (42S22): Unknown column 'nan' in 'field list'
행 90099: 1054 (42S22): Unknown column 'nan' in 'field list'
행 90659: 1054 (42S22): Unknown column 'nan' in 'field list'
행 90666: 1054 (42S22): Unknown column 'nan' in 'field list'
행 90722: 1054 (42S22): Unknown column 'nan' in 'field list'
행 91008: 1054 (42S22): Unknown column 'nan' in 'field list'
행 91323: 1054 (42S22): Unknown column 'nan' in 'field list'
행 91540: 1054 (42S22): Unknown column 'nan' in 'field list'
행 91541: 1054 (42S22): Unknown column 'nan' in 'field list'
행 91546: 1054 (42S22): Unknown column 'nan' in 'field list'
행 91560: 1054 (42S22): Unknown column 'nan' in 'field list'
행 92142: 1054 (42S22): Unknown column 'nan' in 'field list'
행 92489: 1054 (42S22): Unknown column 'nan' in 'field list'
행 92491: 1054 (42S22): Unknown column 'nan' in 'field list'
행 92492: 1054 (42S22): Unknown column 'nan' in 'field list'
행 92493: 1054 (42S22): Unknown column 'nan' in 'field list'
행 92524: 1054 (42S22): Unknown column 'nan' in 'field list'
행 92578: 1054 (42S22): Unknown column 'nan' in 'field list'
행 92954: 1054 (42S22): Unknown column 'nan' in 'field list'
행 93058: 1054 (42S22): Unknown column 'nan' in 'field list'
행 93271: 1054 (42S22): Unknown column 'nan' in 'field list'
행 93279: 1054 (42S22): Unknown column 'nan' in 'field list'
행 93280: 1054 (42S22): Unknown column 'nan' in 'field list'
행 93281: 1054 (42S22): Unknown column 'nan' in 'field list'
행 93282: 1054 (42S22): Unknown column 'nan' in 'field list'
행 93284: 1054 (42S22): Unknown column 'nan' in 'field list'
행 93617: 1054 (42S22): Unknown column 'nan' in 'field list'
행 94103: 1054 (42S22): Unknown column 'nan' in 'field list'
행 94108: 1054 (42S22): Unknown column 'nan' in 'field list'
행 94189: 1054 (42S22): Unknown column 'nan' in 'field list'
행 94881: 1054 (42S22): Unknown column 'nan' in 'field list'
행 94927: 1054 (42S22): Unknown column 'nan' in 'field list'
행 94973: 1054 (42S22): Unknown column 'nan' in 'field list'
행 95518: 1054 (42S22): Unknown column 'nan' in 'field list'
행 95521: 1054 (42S22): Unknown column 'nan' in 'field list'
행 95588: 1054 (42S22): Unknown column 'nan' in 'field list'
행 95634: 1054 (42S22): Unknown column 'nan' in 'field list'
행 96451: 1054 (42S22): Unknown column 'nan' in 'field list'
행 96456: 1054 (42S22): Unknown column 'nan' in 'field list'
행 96460: 1054 (42S22): Unknown column 'nan' in 'field list'
행 96476: 1054 (42S22): Unknown column 'nan' in 'field list'
행 96991: 1054 (42S22): Unknown column 'nan' in 'field list'
행 96995: 1054 (42S22): Unknown column 'nan' in 'field list'
행 97024: 1054 (42S22): Unknown column 'nan' in 'field list'
행 97048: 1054 (42S22): Unknown column 'nan' in 'field list'
행 97160: 1054 (42S22): Unknown column 'nan' in 'field list'
행 98154: 1054 (42S22): Unknown column 'nan' in 'field list'
행 98155: 1054 (42S22): Unknown column 'nan' in 'field list'
행 98217: 1054 (42S22): Unknown column 'nan' in 'field list'
행 98773: 1054 (42S22): Unknown column 'nan' in 'field list'
행 98775: 1054 (42S22): Unknown column 'nan' in 'field list'
행 98778: 1054 (42S22): Unknown column 'nan' in 'field list'
행 98836: 1054 (42S22): Unknown column 'nan' in 'field list'
행 98838: 1054 (42S22): Unknown column 'nan' in 'field list'
행 98842: 1054 (42S22): Unknown column 'nan' in 'field list'
행 99779: 1054 (42S22): Unknown column 'nan' in 'field list'
행 99781: 1054 (42S22): Unknown column 'nan' in 'field list'
행 99820: 1054 (42S22): Unknown column 'nan' in 'field list'
행 99825: 1054 (42S22): Unknown column 'nan' in 'field list'
행 99826: 1054 (42S22): Unknown column 'nan' in 'field list'
행 100005: 1054 (42S22): Unknown column 'nan' in 'field list'
행 100244: 1054 (42S22): Unknown column 'nan' in 'field list'
행 100332: 1054 (42S22): Unknown column 'nan' in 'field list'
행 100338: 1054 (42S22): Unknown column 'nan' in 'field list'
행 100753: 1054 (42S22): Unknown column 'nan' in 'field list'
행 100811: 1054 (42S22): Unknown column 'nan' in 'field list'
행 100952: 1054 (42S22): Unknown column 'nan' in 'field list'
행 101205: 1054 (42S22): Unknown column 'nan' in 'field list'
행 101782: 1054 (42S22): Unknown column 'nan' in 'field list'
행 101870: 1054 (42S22): Unknown column 'nan' in 'field list'
행 101976: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102013: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102014: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102017: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102018: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102020: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102023: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102066: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102095: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102424: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102430: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102437: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102720: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102722: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102726: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102744: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102745: 1054 (42S22): Unknown column 'nan' in 'field list'
행 102875: 1054 (42S22): Unknown column 'nan' in 'field list'
행 103045: 1054 (42S22): Unknown column 'nan' in 'field list'
행 103169: 1054 (42S22): Unknown column 'nan' in 'field list'
행 103493: 1054 (42S22): Unknown column 'nan' in 'field list'
행 103496: 1054 (42S22): Unknown column 'nan' in 'field list'
행 103503: 1054 (42S22): Unknown column 'nan' in 'field list'
행 103524: 1054 (42S22): Unknown column 'nan' in 'field list'
행 103841: 1054 (42S22): Unknown column 'nan' in 'field list'
행 104198: 1054 (42S22): Unknown column 'nan' in 'field list'
행 104200: 1054 (42S22): Unknown column 'nan' in 'field list'

최근 10개 데이터베이스 데이터: